flows/NodeRED-LangTrans-flow.json
[
    {
        "id": "91e6b401.f0a4d",
        "type": "watson-translator",
        "z": "d15aebb5.fcc3e8",
        "name": "",
        "action": "translate",
        "basemodel": "en-tr",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "password": "",
        "apikey": "tBK7T1X7QBqKCK38qdUdmNYMtO9Rliafy9i4AHhvixWA",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "en-tr",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "neural": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "6109e7e.0802b18",
                "2c2b1df8.7aa712"
            ]
        ]
    },
    {
        "id": "6109e7e.0802b18",
        "type": "debug",
        "z": "d15aebb5.fcc3e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "34b18fd1.f49da8",
        "type": "change",
        "z": "d15aebb5.fcc3e8",
        "name": "Transcription",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "91e6b401.f0a4d"
            ]
        ]
    }
]
